.drop_cap{
	font-size: 1.5em;
}

select {
	margin: 40px 0 0 0;
	width: 50%;	
	max-width: 100px;
}

button {
	width: 15%;
	max-width: 50px;
	margin-left: 35px;
	text-align: center;
}

.nav ul {
	margin: 20px 0;
	height: 30px;
	font-size: 1.5em;
	width: 100%;
}

.nav {
	text-align: center;
	min-width: 100%;
	max-width: 100%;
	white-space: nowrap;
}

.nav a {
	text-decoration: none;
}
.nav ul li {
	padding: 5px;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	
}
.header_image {
	
	min-width: 100%;
	max-width: 100%;
	

	
}

.current_page {
	background: #EBF8FF;
}

.main_content {
	
	width: 100%;
	font-size: 1.5em;
}

div.footer {
	text-align: center;
}

.col_1, .col_2 {
	max-width: 90%;
	margin: 0 auto;
	display: block;
}


h1 {
		font-size: 1.8em;
		text-align: center;
		padding: 10px 0 0 0;
		font-family: "Open Sans", sans-serif;
	}

@media screen and (min-width: 600px) {
	.col_1, .col_2 {
		display: inline-block;
		width: 45%;
		margin: 0 2%;
		text-align: justify;
		font-size: .8em;
	}

	.col_1 h1, .col_2 h1 {
		text-align: center;
	}
}