.header_image {
	width: 100%;
	max-height: 250px;
}

h1 {
	margin-top: 5px;
	font-family: bold;
	text-align: center;
	font-size: 1.5em;
}

div.nav li {
	list-style: none;
	text-align: center;
	line-height: 1.25;
}

div.nav a {
	color: black;
	font-size: 3em;
	font-family: 'Gloria Hallelujah', cursive;
}



div.nav ul {
	padding: 0;
}

h1, p {
		font-family: "Open Sans", sans-serif;
}
p {
	margin: 0 12px;
}

div.col_1 h1 {
	margin-top: 25px;
}

div.col_1 h1, div.col_2 h1{
	margin-bottom: 5;
	font-weight: 700;
}

div.footer {
	text-align: center;
	color: gray;
}

.current_page {
	text-decoration: underline;
}

/* 
media page
*/

.media_gallery {
	width: 100%;
}
.video_gallery, .music_gallery, .photo_gallery {
	width: 100%;
}

.video_gallery{
}

.music_gallery iframe{
	display: block;
	margin: 0 auto;
}

.photo_gallery{
	background: green;
}

div.video iframe {
	display: block;
	margin: 0 auto;
}

div.video p {
	display: block;
	max-width: 300px;
	display: block;
margin: 0 auto;}

@media screen and (min-width: 600px){
	div.video {
		display: inline-block;
		margin-left: 40px;
	}

	div.nav li {
		float: left;
		margin: 15px;
	}
}

 




